---
// src/components/Gallery.astro
const images = [
    { src: '/Galeria (1).jpg', alt: 'Pastel de boda con detalles dorados' },
    { src: '/Galeria (2).jpg', alt: 'Galletas decoradas con glaseado real' },
    { src: '/Galeria (3).jpg', alt: 'Pastel de cumplea帽os tem谩tico' },
    { src: '/Galeria (4).jpg', alt: 'Mesa de postres variados' },
    { src: '/Galeria (5).jpg', alt: 'Detalle de flores de az煤car en pastel' },
    { src: '/Galeria (6).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (7).jpg', alt: 'Pastel de cumplea帽os tem谩tico' },
    { src: '/Galeria (8).jpg', alt: 'Mesa de postres variados' },
    { src: '/Galeria (9).jpg', alt: 'Detalle de flores de az煤car en pastel' },
    { src: '/Galeria (10).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (11).jpg', alt: 'Pastel de cumplea帽os tem谩tico' },
    { src: '/Galeria (12).jpg', alt: 'Mesa de postres variados' },
    { src: '/Galeria (13).jpg', alt: 'Detalle de flores de az煤car en pastel' },
    { src: '/Galeria (14).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (15).jpg', alt: 'Pastel de cumplea帽os tem谩tico' },
    { src: '/Galeria (16).jpg', alt: 'Mesa de postres variados' },
    { src: '/Galeria (17).jpg', alt: 'Detalle de flores de az煤car en pastel' },
    { src: '/Galeria (18).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (20).jpg', alt: 'Mesa de postres variados' },
    { src: '/Galeria (21).jpg', alt: 'Detalle de flores de az煤car en pastel' },
    { src: '/Galeria (22).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (23).jpg', alt: 'Pastel de cumplea帽os tem谩tico' },
    { src: '/Galeria (24).jpg', alt: 'Mesa de postres variados' },
    { src: '/Galeria (25).jpg', alt: 'Detalle de flores de az煤car en pastel' },
    { src: '/Galeria (26).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (27).jpg', alt: 'Pastel de cumplea帽os tem谩tico' },
    { src: '/Galeria (28).jpg', alt: 'Mesa de postres variados' },
    { src: '/Galeria (29).jpg', alt: 'Detalle de flores de az煤car en pastel' },
    { src: '/Galeria (30).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (31).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (32).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (33).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (34).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (35).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (36).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (37).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (40).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (41).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (42).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (43).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (44).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (47).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (48).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (49).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (50).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (51).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (52).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (53).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (54).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (55).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (56).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (57).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (58).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (59).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (60).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (61).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (62).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (63).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (64).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (65).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (66).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (67).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (68).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (69).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (70).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (71).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (72).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (73).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (74).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (75).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (76).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (77).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (78).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (79).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (80).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (81).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (82).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (83).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (84).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (85).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (86).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (87).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (88).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (89).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (90).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (91).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (92).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (93).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (94).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (95).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (96).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (97).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (98).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (99).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (100).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (101).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (102).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (103).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (104).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (105).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (106).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (107).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (108).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (109).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (110).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (111).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (112).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (113).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (114).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (115).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (116).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (117).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (118).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (119).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (120).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (121).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (122).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (123).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (124).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (125).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (126).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (127).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (128).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (129).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (131).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (132).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (133).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (134).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (135).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (136).jpg', alt: 'Cupcakes con decoraci贸n festiva' },
    { src: '/Galeria (137).jpg', alt: 'Cupcakes con decoraci贸n festiva' },

];
---
<section id="gallery" class="bg-white py-16 md:py-24">
    <div class="container mx-auto px-4">
        <h2 class="text-4xl font-bold text-center text-amber-800 mb-12"> Nuestra Galer铆a de Dulces</h2>
        
        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 md:gap-6">
            {images.map(img => (
                <div class="aspect-square overflow-hidden rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300 transform hover:scale-[1.02]">
                    <img 
                        src={img.src} 
                        alt={img.alt} 
                        class="w-full h-full object-cover"
                        loading="lazy"
                    />
                </div>
            ))}
        </div>
        
        <div class="text-center mt-12">
            <a href="#" class="inline-block px-8 py-3 bg-amber-700 text-white font-semibold rounded-full hover:bg-amber-800 transition-colors duration-300 shadow-md">
                Ver m谩s creaciones
            </a>
        </div>
    </div>
</section>